name = "yukimurata0421-dev"
main = "src/index.js"
compatibility_date = "2026-06-06"

[[routes]]
pattern = "yukimurata0421.dev"
custom_domain = true

[[routes]]
pattern = "www.yukimurata0421.dev"
custom_domain = true
